#photo-area.viewport {
    height: 480px;
}

#photo-area.viewport canvas, video {
    float: left;
    height: 480px;
}

#photo-area.viewport canvas.drawingBuffer, video.drawingBuffer {
    margin-left: -640px;
}
